{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            {% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'style.css' %}">
        <script src="{% static 'script.js' %}" defer></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Montserrat:wght@700&display=swap" rel="stylesheet">
    </head>
    <body>
        {% include 'navbar.html' %}

        {% if messages %}
            <div class="messages-bar">
                {% for message in messages %}
                    <div class="message {{ message.tags }}">{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <header>
            {% block header %}
            {% endblock %}
        </header>
        
        <main>
            {% block content %}
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>